* {
    /*background-color: snow;*/
    font-family: Belgrano;
}

.header_2{
    background-color: #87a1bf;
    font-family: Abel;
}

.para_1{
    font-family: "Andale Mono";
}

.para_2{
    font-family: "Al Nile";
}

.para_3{
    font-weight: lighter;
}


